<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Face Recognition Home</title>
</head>
<body>
    <div class="container">
        <h1>Face Recognition Project</h1>
        <a href="/create"><button>Create Database</button></a>
        <a href="/test"><button>Test the Project</button></a>
    </div>
</body>
</html>
