<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Face Recognition App</title>
</head>
<body>
    <h1>Face Recognition App</h1>

    <div class="container">
        <h2>Store a Face</h2>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="file" name="file" required>
            <button type="submit">Upload and Store</button>
        </form>

        <h2>Recognize a Face</h2>
        <form method="POST" action="/recognize" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Recognize</button>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
